@tailwind base;
@tailwind components;
@tailwind utilities;




  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');



  @layer base {
    body{
      @apply font-[Raleway];
    }
    li{
     @apply px-4;
     @apply cursor-pointer;
    }
  }


  .content-div{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;


  }

  .content-div:hover{
    background-image: linear-gradient(
      to left,
      rgba(194, 158, 191, 0.8),
      hsla(308, 35%, 50%, 0.8), 

    )!important;

  }